*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.formura-register{
	width: 900px;
	background: #156CCE ;
	padding: 50px ;
	margin: 50px;
	margin-top: 100px;
	border-radius: 18px;
	color: white;
	box-shadow: 7px 13px 37px #000;
} 
#titulo{
    font-family:'Lobster', cursive;
	text-align: center left;
	display: flex ;
	width: 300px;
	margin: auto;
} 
body{
	text-align: center;
	background: linear-gradient(to right, #0A2633, #5083B4,#49599C,#6E45B7);
	display: flex ;
	justify-content:center;
	align-items:center;
}
.imagen{ 
	margin-top: 300px
}
